section.learn-more {
  background: linear-gradient(
    0deg,
    var(--color-black) 30%,
    var(--color-primary-dark),
    rgba(0, 0, 0, 0.062)
  );
}

section.learn-more p {
  text-transform: uppercase;
}

section.learn-more a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: myFont;
  color: var(--color-white);
  box-shadow: var(--box-shadow);
}
.parts-link {
  transition: 0.6s ease-in-out;
}
.parts-link:hover {
  transform: scale(1.1);
}
